#new-chat-form {

}
#chat-responses {
    padding: 0;
}

#chat-responses li {
    list-style: none;
    border-bottom: 1px solid black;
    padding: 5px;
}

#chat-responses li:nth-child(even) {
    background-color: Lightgreen;
}